.about {
    min-height: 1500px;
    background: #fff;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 186px;
    }
    &__item {
        &_title {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 50px;
            color: #0B132A;
        }
        &_descr {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #4F5665;
            margin-top: 15px;
            width: 513px;
            margin-bottom: 40px;
        }
    }
}