.button {
    width: 300px;
    height: 60px;
    background: #147E45;
    box-shadow: 0px 4px 20px rgba(13, 77, 42, 0.33);
    border-radius: 10px;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    &--main {
        margin-top: 24px;
    }
    &--buy {
        background: none;
        border: 1px solid #147E45;
        color: #147E45;
    }
    &--overlay {
        margin-top: 25px;
        width: 340px;
    }
}